/*********** GENERAL ***********/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.app {
    /*max-width: 600px;*/
    margin: 10px;
    overflow: auto;
    min-height: 300px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.icon {
    width: fit-content;
    color: black;
    cursor: pointer;
}

.icon:hover {
    transform: scale(1.05);
}

footer {
    margin-top: 30px;
    text-align: center;
    opacity: 50%
}

/*********** RECIPES GRID ***********/

.recipesContainer {
    background: white;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 400px));
    gap: 10px;
    justify-content: center;
}

.recipesThumbnail{
    max-width: 400px;
    max-height: 200px;
    background: white;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    grid-column-end: span 2;
}

.recipesThumbnail img {
    max-width: 100%;
}

.recipesThumbnailBar {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    position: absolute;
    top: 89%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    padding: 5px;
}

.recipesThumbnailBarBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.recipesThumbnail:hover {
    transform: scale(1.01);
}

.recipesThumbnail:hover img {
    opacity: 80%;
}
.recipesThumbnail:hover .recipesThumbnailBar {
    background: rgba(0, 0, 0, 0.9);
}

/*********** RECIPE ***********/

.recipe{
}

.recipePictureContainer{
    margin: auto auto 10px;
    max-height: 300px;
    max-width: 600px;
    background: white;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 10px;
}

.recipePictureContainer img {
    max-width: 100%;
}

.recipePictureContainerTopBar {
    background: rgba(0, 0, 0, 0.9);
    color: white;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.recipePictureContainerTopBarDeleteBox {
    width: 80px;
}
.recipePictureContainerTopBarDeleteBox .icon{
    float: right;
    padding-left: 5px;
    padding-right: 5px;
}

.recipePictureContainerTopBar input {
    background: rgba(0, 0, 0, 0);
    color: white;
    text-align: center;
    max-width: 400px;
    font-size: 24px;

    width: 100%;
}

.recipePictureContainerTopBarEditBox {
    width: 80px;
}

.recipePictureContainerTopBarEditBox .icon{
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}

.recipePictureContainer span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 40px 10px;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    position: absolute;
    top: 90%;
    width: 100%;
}

#recipeImgUrlInput {
    background: rgba(0, 0, 0, 0.9);
    color: white;
    position: absolute;
    top: 50%;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.recipePictureContainerEditBox {
    display: flex;
    justify-content: space-between;
}

.recipePictureContainerEditBox select {
    color: white;
    background: rgba(0, 0, 0, 0.9);
    border: 1px solid white;
    border-radius: 5px;
}

.prepDescription {
    margin: auto auto 10px;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.prepDescription {
    margin: auto auto 10px;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.prepDescription h3 {
    text-align: center;
}

.prepDescriptionInput {
    margin: auto auto 10px;
    width: 80%;
    text-align: center;
}

.prepDescriptionInput h3 {
    text-align: center;
}

.prepDescriptionTextarea {
    width: 100%;
    min-height: 200px;
    height: content-box;
     resize: none;
}

.recipeTextBox h3 {
    text-align: center;
}

.recipe table tr:nth-child(even){
    background: whitesmoke;
}

/*********** INGREDIENTS ***********/

.ingredientsTableContainer {
    overflow-x: auto;
    text-align: center;
}

.ingredientsTableContainer table {
    margin: auto auto 10px;
    border: 2px solid whitesmoke;
    width: 80%;
    border-collapse: collapse;
    table-layout: auto;

}

.ingredientsTableContainer table th {
    padding: 5px;
    background: whitesmoke;
}


.ingredientsTableContainer table td {
    padding: 5px;
}

.ingredientsTableContainer table input {
    padding-left: 5px;
}

.ingredientsSetupColumn {
    justify-content: space-evenly;
    display: flex;
}

/*********** INGREDIENTS ***********/

.addForm {
    background: orange;
}
