@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.app {
    max-width: 600px;
    margin: 10px;
    overflow: auto;
    min-height: 300px;
    border: 1px solid black;
    padding: 30px;
    border-radius: 5px;
}

.header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
}

.btn:focus {
    outline: none;
}

.btn:active {
    transform: scale(0.96);
}

.btn-block {
    display: block;
    width: 100%;
}

.recipesContainer {
    background: black;
    padding: 5px;
    display: list-item;

}

.recipeThumbnail{
    margin-bottom: 15px;
    height: 250px;
    background: white;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.recipeThumbnail img {
    max-width: 100%;
}

.recipeThumbnailBar {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    position: absolute;
    top: 85%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.recipeThumbnail:hover img {
    opacity: 80%;
}
.recipeThumbnail:hover .recipeThumbnailBar {
    background: rgba(0, 0, 0, 0.9);
}

footer {
    margin-top: 30px;
    text-align: center;
    opacity: 50%
}